body {
    font-family: "Poppins", sans-serif;
  }
  #submitButton {
    color: #ffffff;
    background: #ffd800;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 1px gray;

  }
  #submitButton:hover {
    background: rgb(114,223,253);
  }
 #current-location-button {
   color: #ffffff;
  background: rgb(114,223,253);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px gray;
 }
 #current-location-button:hover {
  background: #ffd800;
 }
  .input-city {
    display: flex;
    border: none;
    border-radius: 5px;
    text-align: right;
    font-size: 20px;
    width: 20%;
    margin: 10px;
  }
  h1 {
    float: right;
    color: #ffd800;
    font-size: 56px;
    text-shadow: 2px 2px rgb(250, 239, 223);
    margin: 0;
    line-height: 1;
  }
  ul {
    margin: 0 0 15px;
    padding: 0;
    line-height: 1.3;
  }
  
  li {
    font-size: 26px;
    list-style: none;
    color: #2c7873;
  }
  .weather {
    border: 2px solid #b4b2ab;
    border-radius: 10px;
    padding: 15px 15px 0 15px;
    margin: 20px auto;
    max-width: 700px;
  }
  .temperature {
    font-size: 74px;
    line-height: 1;
    color: #ffd800;
  }
  .weather-icon {
    width: 20%;
    position: relative;
    top: -15px;
    margin-right: 10px;
  }
  .degree {
    position: relative;
    top: -45px;
    font-size: 20px;
    color: #2c7873;
  }
  .properties {
    font-size: 20px;
  }
  a {
    color: #2c7873;
    text-decoration: none;
  }
  .btn-primary {
    position: relative;
    background: #ffd800;
    color: #2c7873;
    border: none;
    font-size: 16px;
    box-shadow: 1px 1px 5px 1px rgb(214, 212, 212);
  }
  .footer {
    display: inline-block;
    font-size: 16px;
    margin: 20px 0 0 0;
    text-align: center;
  }
  .days {
    font-size: 23px;
    color: #ffd800;
  }
  p {
    border: none;
    box-shadow: 1px 1px 5px 1px rgb(214, 212, 212);
    padding: 10px 15px;
    border-radius: 10px;
  }
  i {
    color: #ffd800;
    font-size: 26px;
  }
  